@include selection();
body {
	background: $bg-color-1;
}


// =Links
a{
	color: $a-color-1;

	&:visited {
		color: $a-color-3;
	}
	&:hover {
		color: $a-color-2;
	}
	&:focus {
		outline: thin dotted;
	}
}
a,
a:visited,
a:hover,
a:focus {
	// I'm not sure why the visited links aren't transitioning in Chrome
	@include transition(color .2s);
}


// =Typography
abbr[title] {
	@include border-side(bottom, 1px, dotted);
}
b, strong {
	font-weight: $bold;
}
blockquote, q {
	margin: 1em;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	@include border-side();
	margin: 1 em 0;
}
ins {
	background: $bg-color-2;
	color: $color-1;
	text-decoration: none;
}
mark {
	background: $color-4;
	color: $color-1;
	font-style: italic;
}
// h5bp.com/j
pre, code, kbd, samp { 
	font-family: $monospace; 
	font-size: 1em; 
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: "";
	content: none;
}
small {
	font-size: 85%;
}
// h5bp.com/k
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}


// =Lists
ul, ol {
	margin: 1em;
	padding: 0 0 0 20px;
}
dt {
	font-weight: $bold;
}
dd {
	margin: 0 0 0 20px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}


// =Images 
// h5bp.com/d h5bp.com/i/440
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
svg:not(:root) {
	overflow: hidden;
}


// =Figures
figure {
}


// =Forms 
form {
}
fieldset {
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	border: 0;
	*margin-left: -7px;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}
button[disabled],
input[disabled] { 
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	@include box-sizing();
	*width: 13px;
	*height: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
// h5bp.com/l
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
}
button {
	padding: 8px 16px;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: $bg-color-3; }


// =Tables
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}

// Chrome Frame needed?