// =Search Form
form#search {
	position: relative;
	background: $bg-color-4;
	padding: 18px 0;
	text-align: center;

	input{
		padding: 8px 12px;
		color: $color-1;
		border: none;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}
}


// =Main Navigation
#main {
	display: inline-block;
	 
	ul {
		display: inline-block;
		font-size: 0;
		li {
			display: inline-block;
			a {
				font-size: 13px;
			}
		}
	}
}
span {
	&#search {
		cursor: pointer;
		display: inline-block;
		position: relative;
		text-indent: -99999px;
		width: 25px;
		height: 22px;
		&:before {
			content: "s";
			position: absolute;
			top: 0;
			left: 0;
			width: 25px;
			height: 22px;
			font-family: $symbol;
			font-size: 22px;
			line-height: 22px;
			text-indent: 0;
			text-align: center;
		}
	}
	&#search.close:before{
		content: "x"
	}
}

// =Content
ul {
	margin: 0;
	padding: 0;
	list-style: none;

	&.items{
		a {
			text-decoration: none;
			time {
				font-size: 12px;
			}
			h2 {
				max-width: 80%;
			}
			time, h2 {
				display: inline-block;
			}
		}
	}
}


// =Footer
#bottom {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0;
		li {
			display: inline-block;
			a {
				font-size: 13px;
			}
		}
	}
	#attribution {
		display: block;
		width: 24px;
		height: 22px;
		text-indent: -9999px;
		background: url(../i/attribution.gif); //Set sail!
	}
}