// =Search Form
form#search {
	position: relative;
	background: $bg-color-4;
	padding: 18px 0;
	text-align: center;

	input{
		padding: 8px 12px;
		color: $color-1;
		border: none;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}
}


// =Main Navigation
#main {
	display: inline-block;
	 
	ul {
		display: inline-block;
		font-size: 0;
		li {
			display: inline-block;
			a {
				font-size: 13px;
			}
		}
	}
}
img#search {
	display: inline-block;
	cursor: pointer;
}


// =Content
ul {
	margin: 0;
	padding: 0;
	list-style: none;

	&.items{
		a {
			text-decoration: none;
			time {
				font-size: 12px;
			}
			h2 {
				max-width: 80%;
			}
			time, h2 {
				display: inline-block;
			}
		}
	}
}


// =Footer
#bottom {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0;
		li {
			display: inline-block;
			a {
				font-size: 13px;
			}
		}
	}
}